<footer class="footer">
	<small>
		Sample Rails App</a> by
		<a href="http://salomanuel.herokuapp.com/">Salomanuel</a>
	</small>
	<nav>
		<ul>
			<li><%= link_to "About", 		about_path 		%></li>
			<li><%= link_to "Contact", 	contact_path 	%></li>
		</ul>
	</nav>
</footer>